.button {
    padding: 0.5rem 1rem;
    max-width: 125px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: rgb(61, 120, 14);
    background: linear-gradient(
        180deg,
        rgba(61, 120, 14, 1) 0%,
        rgba(21, 186, 22, 1) 100%
    );
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: sans-serif;

    &:hover {
    }
}

.disabled {
}
